################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitUnitTestDemo/bin/Debug
/GitUnitTestDemo/obj/Debug
/TestProject1/bin/Debug/net6.0
/TestProject1/obj
